* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}


/* style jumbotron */

.jumbotron {
    padding: 2rem 1rem;
    background-color: #ffffff;
    margin-top: 20px;
    font-size: 15px;
}

h1 {
    margin-top: 20px;
}


/* style slider */

.carousel-item {
    height: 657px;
}

.carousel-item img {}


/* style card */

.card {
    margin-top: 50px;
}

p {
    margin-top: 10px;
}